<div style="">
	<form id="passwordForm" class="easyui-form" method="post" action="{:url('Admin/handleEditPasswd')}" data-options="validate:true,border:false">
		<table cellpadding="5">
			<tr>
				<td>用户名：</td>
				<td>{$data.adminname}</td>
			</tr>
			<tr>
				<td>新密码：</td>
				<td><input class="easyui-textbox" type="password" name="password" data-options="required:true"></td>
			</tr>
			<tr>
				<td>确认新密码：</td>
				<td><input class="easyui-textbox" type="password" name="ackpassword" data-options="required:true"></td>
			</tr>
		</table>

	</form>
</div>