<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"> 
<title>{$basic.webname}-258广告</title>
<link rel="stylesheet" rev="stylesheet" href="__INDEX__css/base.css" type="text/css" />
<link rel="stylesheet" rev="stylesheet" href="__INDEX__css/index.css" type="text/css" />
<link rel="stylesheet" rev="stylesheet" href="__INDEX__css/product.css" type="text/css" />
<link rel="stylesheet" rev="stylesheet" href="__INDEX__css/animation.css" type="text/css" />
<script type="text/javascript" src="__INDEX__js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="__INDEX__js/TouchSlide.1.1.js"></script>
<script type="text/javascript" src="__INDEX__js/index.js"></script>
<script type="text/javascript" src="__INDEX__js/jquery.min.js"></script>
</head>
<body>
{include file="public/head" /}
<div class="pro_banner">
	{foreach $navData as $key =>$item}
	{eq name="item.url" value="$controller"}
	<a href="#" style="background:url(__PUBLIC__upload/manage/ad/{$item.ad_src}) no-repeat center;display:block;"></a>
	{/eq}
	{/foreach}
</div>


<!--258-->

	
	<div class="cl"></div>
	<div class="yinxgjbx">
		<div class="yinxtlm">智能营销工具 —— 258服务广告</div>
		<div class="yinxxiz">协助中小企业达成低成本、高回报、免人力的电子商务化</div>
		<div class="yinxbtns">
			<a href="#" class="" >258商务卫士</a>
			<a href="#" class="" >宣传易</a>
		</div>
	</div>
	<div class="cl"></div>
	<div class="weisjij section">
		<div class="inner">
			<div class="weijjzuo">
				<div class="weijjzuo1 a-bounceinL yanshi02">
					258商务卫士
				</div><div class="weijjzuo2 a-fadeinL yanshi05">
					企业互联网营销一站式解决方案
				</div><div class="weijjzuo3 a-fadeinL yanshi07">
					258商务卫士是集企业搜索引擎排名推广、B2B商贸平台信息覆盖、搜索引擎双端关键词优化、企业网站建设以及微信品牌推广为一体的企业互联网营销一站式解决方案。
				</div>
			</div>
			<div class="weijjyou a-bounceinL yanshi12"><img src="__INDEX__images/yimg.png" alt="" /></div>
			
			<div class="cl"></div>
		</div>
	</div>
	<div class="cl"></div>
	
	<div class="hexjish section">
		<div class="inner">
			<div class="heixbom">
				<div class="heibiot">五<br>大<br>核<br>心</div>
				
				<ul class="hexinul">
					<li class="heicon1">
						<div class="heiconins yanshi02">
							<div class="heicontl">企业建站</div>
							<div class="heiconnr">
								优化功能的三屏合一商务网站（pc网站和移动网站）;关键词排名靠前，直达网站，集结人气，带来客户
							</div>
						</div>
					</li>
					<li class="heicon2">
						<div class="heiconins yanshi06">
							<div class="heicontl">信息发布</div>
							<div class="heiconnr">
								万个平台的信息覆盖，提升曝光量，带来绿色流量
							</div>
						</div>
					</li>
					<li class="heicon3">
						<div class="heiconins yanshi12">
							<div class="heicontl">快速推广</div>
							<div class="heiconnr">
								主流搜索引擎信息的自然排名靠前，让客户先联系您，稳抓成交机会
							</div>
						</div>
						
					</li>
					<li class="heicon4">
						<div class="heiconins yanshi17">
							<div class="heicontl">数据分析</div>
							<div class="heiconnr">
								报表实时查看，效果一目了然（发布报表，推广报表，seo报表，流量报表）
							</div>
						</div>
					</li>
					<li class="heicon5">
						<div class="heiconins yanshi22">
							<div class="heicontl">移动营销</div>
							<div class="heiconnr">
								微信公众号，百度直达号，抢占移动端入口
							</div>
						</div>
					</li>
					
				</ul>
			</div>
		</div>
	</div>
	<div class="cl"></div>
	
	<div class="liidabx ">
		<div class="inner">
			<div class="liidabx-tl">
				<span class="">
					六大独特优势
				</span>
			</div>
			<div class="cl"></div>
			
			<div class="liudysicon">
				<ul>
					<li><div class="liydaiaci">
						<div class="liuicon liuicon1 a-bouncein"></div>
						<div class="liucinr">
							免编辑商情<br>高质编写
						</div>
						
					</div></li>
					<li><div class="liydaiaci">
						<div class="liuicon liuicon2 a-bouncein"></div>
						<div class="liucinr">
							免输验证<br>智云识别
						</div>
						
					</div></li>
					<li><div class="liydaiaci">
						<div class="liuicon liuicon3 a-bouncein"></div>
						<div class="liucinr">
							免人力发布<br>万站群发
						</div>
						
					</div></li>
					<li><div class="liydaiaci">
						<div class="liuicon liuicon4 a-bouncein"></div>
						<div class="liucinr">
							免人工维护<br>智能更新
						</div>
						
					</div></li>
					<li><div class="liydaiaci">
						<div class="liuicon liuicon5 a-bouncein"></div>
						<div class="liucinr">
							免手工优化<br>抢占排名
						</div>
						
					</div></li>
					<li><div class="liydaiaci">
						<div class="liuicon liuicon6 a-bouncein"></div>
						<div class="liucinr">
							免付费流量<br>聚合客户
						</div>
						
					</div></li>
					
				</ul>
			</div>
			<div class="cl"></div>
		</div>
	</div>
	<div class="cl"></div>
	
	<div class="xuanchbx section">
		<div class="inner">
			<div class="weijjzuo">
				<div class="weijjzuo1 a-bounceinL yanshi02">
					商友宣传易
				</div>
				<div class="weijjzuo3 a-fadeinL yanshi07">
						商友宣传易是258集团综合十年经验和技术积累打造的智能推广和优化工具。通过258集团的云计算和云调度系统，将人工验证码协助系统和人工商情代编系统有序结合，实现用户免输入验证码、免编辑商情、自动云发布、自动更新网站等特性。商友宣传易快速将企业商情发布到近5000个商贸平台，并生成三屏展示的移动网站，实现企业信息和企业 网站快速优化搜索引擎，获得大量的免费商贸平台流量和搜索引擎访客，协助中小企业达成低成本、高回报、免人力的电子商务化。
				</div>
			</div>
			<div class="weijjyou a-bounceinL yanshi12"><img src="__INDEX__images/jiaoji.png" alt="" /></div>
			
			
			<div class="cl"></div>
			
			
		</div>
	</div>
	<div class="section">
		<div class="inner">
			<ul class="qiyxucl">
				<li class="a-bounceinT yanshi02">
					<div class="bgbomx bgclo1">
						<div class="qiyjtlsm">企业建站</div>
						<div class="qieyzhnr">
							商友宣传易是258集团综合十年经验和技术积累打造积累打造
						</div>
					</div>
				</li>
				<li  class="a-bounceinT yanshi06">
					<div class="bgbomx bgclo2">
						<div class="qiyjtlsm">信息发布</div>
						<div class="qieyzhnr">
							万个平台的信息覆盖，提升曝光量，带来绿色流量
						</div>
					</div>
				</li>
				<li class="a-bounceinT yanshi09">
					<div class="bgbomx bgclo3">
						<div class="qiyjtlsm">快速推广</div>
						<div class="qieyzhnr">
							主流搜索引擎信息的自然排名靠前，让客户先联系您，稳抓成交机会
						</div>
					</div>
				</li>
				<li class="a-bounceinT yanshi12">
					<div class="bgbomx bgclo4">
						<div class="qiyjtlsm">数据分析</div>
						<div class="qieyzhnr">
							报表实时查看，效果一目了然（发布报表，推广报表，seo报表，流量报表）
						</div>
					</div>
				</li>
				<li class="a-bounceinT yanshi15">
					<div class="bgbomx bgclo5">
						<div class="qiyjtlsm">移动营销</div>
						<div class="qieyzhnr">
							微信公众号，百度直达号，抢占移动端入口
						</div>
					</div>
				</li>
				
			</ul>
			<div class="cl"></div>
		</div>
	</div>
	<div class="cl"></div>
<!--enD-->
</div>

<div class="box_bor"></div>
<!--底部导航列表-->
{include file="public/foot" /}
</body>

<script type="text/javascript" src="__INDEX__js/slidelf.js"></script>
<script type="text/javascript">
$(function(){
	$(".fl-pic").slidelf({
		"prev":"left-arrow",
		"next":"right-arrow",
		"speed":1000
	});
});
</script>

<script src="__INDEX__js/slider.js"></script>
	<script type="text/javascript">
    $(function() {
        var bannerSlider = new Slider($('#banner_tabs'), {
            time: 5000,
            delay: 400,
            event: 'hover',
            auto: true,
            mode: 'fade',
            controller: $('#bannerCtrl'),
            activeControllerCls: 'active'
        });
        $('#banner_tabs .flex-prev').click(function() {
            bannerSlider.prev()
        });
        $('#banner_tabs .flex-next').click(function() {
            bannerSlider.next()
        });
    })
    </script>
<script type="text/javascript">
$(document).ready(function(){
	$("#nav li").hover(function(){
		$(this).find("div").slideDown("slow");	
	},function(){
		$(this).find("div").slideUp("fast");	
	});
});
</script>
</html>
