<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"
            aria-hidden="true">×
    </button>
    <h4 class="modal-title" id="myModalLabel">
        修改菜单
    </h4>
</div>
<form id="admin-edit"  class="bs-example bs-example-form layui-form" role="form">
    <input type="hidden" name="op" value="edit">
    <input type="hidden" name='menuid' value='{$data.menuid}' >

    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label class="col-sm-2 control-label ">菜单名称：</label>
                <input type="text" class="col-sm-8 menuname" lay-verify="required" placeholder="菜单名称" name="menuname" value="{$data.menuname}">
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label ">父级id：</label>
                <select id="sel_menu1" multiple="multiple" class="col-sm-8 parentid"  name="parentid">
                    {foreach  $MenuTree as $vo}
                        <option value="{$vo.id}" style="color: #E07F69">{$vo.text}</option>
                        {if isset($vo.children)}
                            {foreach  $vo.children as $item}
                            <option value="{$item.id}">&nbsp;&nbsp;&nbsp;&nbsp;{$item.text}</option>
                            {/foreach}
                        {/if}
                    {/foreach}
                </select>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label ">图标icon：</label>
                <input type="text" class="col-sm-8 icon" lay-verify="required" placeholder="图标icon" name="icon" value="{$data.icon}">
                {if $data.icon}<img src="__ASSETS__icons/{$data.icon|substr=5}.png" alt="">{/if}
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label ">链接：</label>
                <input type="text" class="col-sm-8 url" lay-verify="required" placeholder="链接" name="url" value="{$data.url}">
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label ">跳转链接：</label>
                <input type="text" class="col-sm-8 rel" placeholder="跳转链接" name="rel" value="{$data.rel}">
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label ">排序：</label>
                <input type="text" class="col-sm-8 sort" placeholder="排序" name="sort" value="{$data.sort}">
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label ">是否显示：</label>
                <select  class="col-sm-8"  name="isshow">
                    <option value="1" value="{$data.menuname}">显示</option>
                    <option value="0" value="{$data.menuname}">不显示</option>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default"
                data-dismiss="modal">关闭
        </button>
        <button type="button" class="btn btn-primary"  lay-submit lay-filter="adminMunform"  onclick="adminMunesave(this)">
            提交数据
        </button>
    </div>
</form>
<script>

    var oMenuIcon= $("#sel_menu1").select2({
        // tags: true,
        placeholder: "请选择菜单",
        width:'66.66%',
        maximumSelectionLength: 1 //最多能够选择的个数
    });
    oMenuIcon.val("{$data.parentid}").trigger("change");
</script>