<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <title>菁蕊</title>
    <link rel="shortcut icon" href="__INDEX__images/favicon.ico">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="__INDEX__css/animate.min.css">
    <link rel="stylesheet" href="__INDEX__css/font-awesome.min.css">
    <link rel="stylesheet" href="__INDEX__css/component.css">
    <link rel="stylesheet" href="__INDEX__css/owl.theme.css">
    <link rel="stylesheet" href="__INDEX__css/owl.carousel.css">
    <link rel="stylesheet" href="__INDEX__css/style.css">

    <style type="text/css">
        #knowledge {
            background-image: url("__INDEX__/images/about_back_ground.jpg");
            background-size:cover;
        }
        #promise{
            background-image: url("__INDEX__/images/promise.jpg");
            background-size:cover;
        }
        footer {
            background-image: url("__INDEX__/images/footer_back_ground.jpg");
            background-size:cover;
        }
    </style>
</head>
<body id="top" data-spy="scroll" data-offset="50" data-target=".navbar-collapse">

<!-- Preloader section -->

<div class="preloader">
    <div class="sk-spinner sk-spinner-pulse"></div>
</div>

<!-- Navigation section  -->
<div id="main-top" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container" >
        <div class="logo"><img src="__PUBLIC__upload/manage/{$arrSetting.logo}" alt=""></div>
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#top" class="smoothScroll"><span>首页</span></a></li>
                <li><a href="#about" class="smoothScroll"><span>关于我们</span></a></li>
                <li><a href="#product_single" class="smoothScroll"><span>精美单品</span></a></li>
                <li><a href="#product_suit" class="smoothScroll"><span>优选套装</span></a></li>
                <li><a href="#promise" class="smoothScroll"><span>正品保障</span></a></li>
                <li><a href="#knowledge" class="smoothScroll"><span>美容课堂</span></a></li>
                <li><a href="#contact" class="smoothScroll"><span>联系我们</span></a></li>
            </ul>
        </div>
    </div>
</div>


<!-- Home section -->
<section id="home">
    <div class="top-img">
        <div class="activeimg">
            {if $arrBanner}
                {foreach $arrBanner as $key =>$value}
                    <img class="slideimg" src="__PUBLIC__upload/manage/{$value.bannerimg}">
                {/foreach}
            {/if}
        </div>
    </div>
</section>

<!-- About section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                <div class="section-title text-center">
                    <h1 style="letter-spacing: 8px;font-family: '-webkit-pictograph';">about us</h1>
                    <p>{$aboutusData->content1}</p>
                </div>
            </div>
            <div class="col-md-9 col-sm-8 wow fadeInUp" data-wow-delay="0.2s">
                <div class="about-thumb">
                    <h1>我们的故事  Our Story</h1>
                    <p>
                        {$aboutusData->content2}
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 wow fadeInUp about-img" data-wow-delay="0.3s">
                <img src="__INDEX__/images/about-img.jpg" class="img-responsive img-circle" alt="About">
            </div>
            <!-- end team carousel -->
        </div>
    </div>
</section>

<!-- product section -->
<section id="product_single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                <div class="section-title text-center">
                    <h1>精美单品</h1>
                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                </div>
            </div>
            <!-- team carousel -->
            <div id="team-carousel" class="owl-carousel">

                {if $productData1}
                    {foreach $productData1 as $key =>$value}
                        <div class="item col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
                            <div class="team-thumb">
                                <div class="image-holder">
                                    <img src="__PUBLIC__upload/manage/product/{$value.productid}/400/{$value.sourceimg}" class="img-responsive img-circle" alt="">
                                </div>
                                <h2 class="heading">{$value.prodname}</h2>
                                <p class="description">{$value.intro}</p>
                                <span class="description" data-wow-delay="0.1s"><a href='{:url("index/product/index")}?id={$value.productid}' style="font-weight:bold;">立即购买</a></span>
                            </div>
                        </div>
                    {/foreach}
                {/if}



            </div>
        </div>
    </div>
</section>

<!-- product section -->
<section id="product_suit">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                <div class="section-title">
                    <h1>优选套装</h1>
                    <p>Nullam scelerisque, quam nec iaculis vulputate, arcu ligula sollicitudin nisl, ac volutpat erat nulla a arcu.</p>
                </div>
            </div>
            <ul class="grid cs-style-4">

                {if $productData2}
                    {foreach $productData2 as $key =>$value}
                        <li class="col-md-6 col-sm-6">
                            <figure>
                                <div><img src="__PUBLIC__upload/manage/product/{$value.productid}/{$value.sourceimg}" alt=""></div>
                                <figcaption>
                                    <h1>{$value.prodname}</h1>
                                    <small>{$value.intro}</small>
                                    <a href='{:url("index/product/index")}?id={$value.productid}'>立即购买</a>
                                </figcaption>
                            </figure>
                        </li>
                    {/foreach}
                {/if}





            </ul>
        </div>
    </div>
</section>

<!-- 护肤抗皱基本原则 section -->
<section id="skincare">
    <img src="__INDEX__/images/skinrule.jpg" alt="">
</section>

<section id="promise">
    <div class="container">
        <!-- team carousel -->
        <div id="team-carousel" class="owl-carousel">
            <div class="item col-md-3 col-sm-8 wow fadeInUp" data-wow-delay="0.2s">
                <div class="icon-items"><img class="ensure" src="__INDEX__/images/ensure1.png"></div>
            </div>
            <div class="item col-md-3 col-sm-8 wow fadeInUp" data-wow-delay="0.2s">
                <div class="icon-items"><img class="ensure" src="__INDEX__/images/ensure2.png"></div>
            </div>
            <div class="item col-md-3 col-sm-8 wow fadeInUp" data-wow-delay="0.2s">
                <div class="icon-items"><img class="ensure" src="__INDEX__/images/ensure3.png"></div>
            </div>
            <div class="item col-md-3 col-sm-8 wow fadeInUp" data-wow-delay="0.2s">
                <div class="icon-items"><img class="ensure" src="__INDEX__/images/ensure4.png"></div>
            </div>
        </div>
    </div>
</section>
<!-- 护肤知识 section -->
<section id="knowledge">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                <div class="section-title">
                    <h1>护肤知识</h1>
                    <p>干细胞是未成熟细胞，它未充分分化，具有再生各种组织器官和人体的潜在功能，医学界称为“万用细胞”，就好比是体内的“维修工”，有极强的修复和再生能力，人体能够生成的干细胞很少，而动物体内的干细胞都自带病菌，不安全，多用于医学，可用于外用的非常稀少，研发团队历时三年，终于克服看重重困难，取得重大突破，从苹果中提取出苹果干细胞，可以激活人体休眠细胞，修复受损细胞，具有抗老化及延长细胞寿命的美容奇效，从植物中提取，纯天然，植物小分子，更易被皮肤吸收。</p>
                </div>
            </div>
        </div>
    </div>
</section>



<!--底部导航列表-->
{include file="public/foot" /}

<div id="communicate" style="display: none;">
    <a href="tel:020-87600109" class="call-to-us"><i class="fa fa-phone"></i></a>
    <a href="#contact" class="message-to-us"><i class="fa fa-edit"></i></a>
</div>
<div class="copyrights">{$arrSetting.webname}</div>

</body>
<!-- Javascript  -->
<!--
<script src="__INDEX__/js/jquery.js"></script>
-->
<script src="__INDEX__/js/jquery.min.js"></script>
<!--<script src="__INDEX__/js/bootstrap.min.js"></script>        -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="__INDEX__/js/modernizr.custom.js"></script>
<script src="__INDEX__/js/toucheffects.js"></script>
<script src="__INDEX__/js/owl.carousel.min.js"></script>
<script src="__INDEX__/js/smoothscroll.js"></script>
<script src="__INDEX__/js/wow.min.js"></script>
<script src="__INDEX__/js/custom.js"></script>
<script type="text/javascript">
    var img_width = get_width();
    $(window).resize(function() {
        img_width = get_width();
        set_width();
    });

    function get_width(){
        var img_width = document.getElementById("home").offsetWidth;
        return img_width;
    }
    function set_width(list){
        var list=$('.slideimg').length;
        $(".top-img").css({
            height: $("#home").css("height") - 52,
        });
        $('.activeimg').css({
            width:list*img_width,
            height: $("#home").css("height") - 52,
        });
        $('.activeimg img').css({
            width: img_width,
        });
    }
    $(function(){
        $('.bot-img ul li').click(function(){
            var _this=$(this);
            _this.addClass('active').siblings('li').removeClass('active');
            var int=_this.index();
            $('.activeimg').animate({left:int*-img_width},"slow");
        });
        set_width();

        var list=$('.slideimg').length; //获取幻灯片数量
        var num=0;

        var timer=setInterval(function(){ //定时器开始
            num++;
            if(num>parseFloat(list)-1){
                num=0;
            }
            $('.activeimg').animate({left:num*-img_width},"slow");
        }, 3000);
    });
</script>
</html>
