<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>案例添加--layui后台管理模板</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">

	<script type="text/javascript" charset="utf-8" src="__MANAGE__js/plugins/ueditor/ueditor.config.js"></script>
	<script type="text/javascript" charset="utf-8" src="__MANAGE__js/plugins/ueditor/ueditor.all.min.js"> </script>
	<script type="text/javascript" charset="utf-8" src="__MANAGE__js/plugins/ueditor/lang/zh-cn/zh-cn.js"></script>
	<link rel="stylesheet" href="//at.alicdn.com/t/font_eolqem241z66flxr.css" media="all" />
	<link rel="stylesheet" href="__MANAGE__layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="__MANAGE__css/icon1.css" media="all" />
	<link rel="stylesheet" href="__MANAGE__css/main.css" media="all" />
</head>
<style>
	#image img{
		max-height:50px;
		margin-left: 30px;
	}
</style>
<body class="childrenBody">
	<form class="layui-form" style="width: 80%;">
		<div class="layui-form-item">
			<label class="layui-form-label">案例名称</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input newsName" name="name" lay-verify="required" placeholder="请输入案例名称">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">案例分类</label>
			<div class="layui-input-block">
				<select name="catid" lay-verify="required" class="catid"  lay-search="" lay-verify="required" placeholder="直接选择或搜索选择">
					<option value="">请选择</option>
				</select>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">是否显示</label>
				<div class="layui-input-block">
					<input type="checkbox" name="show" class="isShow" checked title="显示">
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-inline">		
				<label class="layui-form-label">排序</label>
				<div class="layui-input-inline">
					<input type="text" class="layui-input sort" name="sort" lay-verify="number" value="0">
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">发布时间</label>
				<div class="layui-input-inline">
					<input type="text" class="layui-input newsTime" lay-verify="date" name="time" value="{$time}" onclick="layui.laydate({elem:this})">
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">案例详情</label>
			<div class="layui-input-block">
					<script id="editor" type="text/plain" style="width:100%;height:500px;"></script>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit="" lay-filter="addSolution">立即提交</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		    </div>
		</div>
	</form>

	<script type="text/javascript" >
        var saveSolutionJSON =  "{:url('manage/Solution/save')}";
        var imageURL='__PUBLIC__'+'upload/manage/';
        var layedit_UPLOAD_URL='{:url("base/uploadimg")}';
		var getTypeListJsonURL='{:url("Solutiontype/getTypeListJson")}'
	</script>
	<script type="text/javascript">

		//实例化编辑器
		//建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
		var ue = UE.getEditor('editor',{
			textarea : 'desc'
		});




	</script>
	<script type="text/javascript" src="__MANAGE__layui/layui.js"></script>
	<script type="text/javascript" src="__MANAGE__js/admin/solutionAdd.js"></script>
</body>
</html>