	<link rel="stylesheet" href="//at.alicdn.com/t/font_eolqem241z66flxr.css" media="all" />
	<link rel="stylesheet" href="__MANAGE__layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="__MANAGE__css/news.css" media="all" />
</head>
<body class="childrenBody" style="height: 100%">
<blockquote class="layui-elem-quote news_search">
	<div class="layui-inline">
		<div class="layui-input-inline">
			<input type="text" value="" placeholder="请输入关键字" class="layui-input search_input">
		</div>
		<a class="layui-btn search_btn">查询</a>
		<input type="hidden" id="curr" value="1">
	</div>
	<div class="layui-inline">
		<a class="layui-btn layui-btn-danger batchDel">批量删除</a>
	</div>
	<div class="layui-inline">
		<a class="layui-btn layui-btn-warm reload_btn">重置查询</a>
	</div>
	<div class="layui-inline">
		<div class="layui-form-mid layui-word-aux">本页面刷新后除新添加的链接外所有操作无效，关闭页面所有数据重置</div>
	</div>
</blockquote>
<div class="layui-form product_list">
	<table class="layui-table">
		<colgroup>
			<col width="5%">
			<col width="10%">
			<col width="15%">
			<col width="15%">
			<col width="5%">
			<col width="10%">
		</colgroup>
		<thead>
		<tr>
			<th><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose" id="allChoose"></th>
			<th style="text-align:left;">订单号</th>
			<th>订单金额</th>
			<th>收件人</th>
			<th>电话</th>
			<th>地址</th>
			<th>支付方式</th>
			<th>下单时间</th>
			<th>付款时间</th>
			<th>状态</th>
			<th>操作</th>
		</tr>
		</thead>
		<tbody class="product_content">
		</tbody>

	</table>

</div>
<div id="page"></div>
<script>
    var orderListURL='{:url("order/getOrderList")}';
	var orderDetailURL='{:url("order/orderDetail")}'

</script>
<script type="text/javascript" src="__MANAGE__layui/layui.js"></script>
<script type="text/javascript" src="__MANAGE__js/admin/orderList.js"></script>
