<!-- Contact section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="clearfix"></div>
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <div class="col-lg-offset-1 col-lg-10 section-title wow fadeInUp" data-wow-delay="0.2s">
                    <h1>Send a message</h1>
                    <p>Please leave a message to us. We will reply in time. Thank you.</p>
                    <p>有任何需要或建议，请给我们留言，非常感谢.</p>
                </div>

                <form action='{:url("message/save")}' method="post">
                    <div class="wow fadeInUp" data-wow-delay="0.3s">
                        <div class="col-md-6 col-sm-6">
                            <input name="message_name" type="text" class="form-control" id="mname" placeholder="Name">
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <input name="message_phone" type="text" class="form-control" id="mphone-number"  placeholder="Phone-Number" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <textarea name="message" rows="6" class="form-control" id="mmessage" placeholder="Message"></textarea>
                        </div>
                        <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6">
                            <input type="submit" class="form-control" value="SEND MESSAGE" id="msubmit">
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>
<!-- Footer section -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <ul class="social-icon">
                    <li><a href="#" class="fa fa-facebook wow fadeInUp" data-wow-delay="0.2s"></a></li>
                    <li><a href="#" class="fa fa-twitter wow fadeInUp" data-wow-delay="0.4s"></a></li>
                    <li><a href="#" class="fa fa-linkedin wow fadeInUp" data-wow-delay="0.6s"></a></li>
                    <li><a href="#" class="fa fa-instagram wow fadeInUp" data-wow-delay="0.8s"></a></li>
                    <li><a href="#" class="fa fa-google-plus wow fadeInUp" data-wow-delay="1.0s"></a></li>
                </ul>
                <p class="wow fadeInUp"  data-wow-delay="0.5s" >{$arrSetting.copyright} </p>
                <p class="wow fadeInUp"  data-wow-delay="0.5s" >联系电话：{$arrSetting.service_phone} </p>
            </div>
        </div>
    </div>
</footer>