
			<div class="footer">
				<div class="footer-inner">
					<div class="footer-content">
						<span class="bigger-120">
							<span class="blue bolder">Ace</span>
							Application &copy; 2013-2014
						</span>

						&nbsp; &nbsp;
						<span class="action-buttons">
							<a href="#">
								<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-rss-square orange bigger-150"></i>
							</a>
						</span>
					</div>
				</div>
			</div>

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->
		<!--[if !IE]> -->
		<script src="__ASSETS__js/jquery-2.1.4.min.js"></script>
		<!-- <![endif]-->
		<!--[if IE]>
		<script src="__ASSETS__js/jquery-1.11.3.min.js"></script>

		<![endif]-->
		<script src="__ASSETS__js/layui/layui.js"></script>
		<script src="__ASSETS__js/layui/lay/modules/form.js"></script>
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='__ASSETS__js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
            var  controller="{$Request.controller}";
				controller=controller.toLowerCase( )

            $('.'+controller).addClass('active');
            $('.'+controller).parents().addClass('open')

            layui.use('layer', function(){
                var layer = layui.layer;

            });
		</script>
		<script src="__ASSETS__js/bootstrap.min.js"></script>

		<!-- page specific plugin scripts -->
		<!--[if lte IE 8]>
		  <script src="__ASSETS__js/excanvas.min.js"></script>
		<![endif]-->
		<!-- ace scripts -->
		<script src="__ASSETS__js/ace-elements.min.js"></script>
		<script src="__ASSETS__js/ace.min.js"></script>

		<script type="text/javascript" src="__ASSETS__js/Function.js"></script>
	</body>
</html>
