<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>新闻分类列表--企业后台管理系统</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="__MANAGE__layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="//at.alicdn.com/t/font_eolqem241z66flxr.css" media="all" />
	<link rel="stylesheet" href="__MANAGE__css/news.css" media="all" />

	<link rel="stylesheet" href="__ASSETS__css/jquery.treegrid.css" />

	<script src="__MANAGE__js/plugins/jquery/2.1.4/jquery.min.js"></script>
	<!--<link rel="stylesheet" href="__ASSETS__css/bootstrap.min.css" />
	<script src="__ASSETS__js/bootstrap.min.js"></script>-->
	<link rel="stylesheet" href="__MANAGE__css/jquery.treegrid.css" media="all" />
	<script src="__ASSETS__js/jquery.treegrid.js"></script>
</head>
<body class="childrenBody">
	<blockquote class="layui-elem-quote news_search">
		<!--<div class="layui-inline">
		    <div class="layui-input-inline">
		    	<input type="text" value="" placeholder="请输入关键字" class="layui-input search_input">
		    </div>
		    <a class="layui-btn search_btn">查询</a>
		</div>-->
		<div class="layui-inline">
			<a class="layui-btn layui-btn-normal newscategoryAdd_btn">添加分类</a>
		</div>
		<div class="layui-inline">
			<div class="layui-form-mid layui-word-aux">本页面刷新后除新添加的文章外所有操作无效，关闭页面所有数据重置</div>
		</div>
	</blockquote>
	<div class="layui-form newscategory_list layui-collapse">
		<table class="layui-table" id="newscategory-table">
		    <colgroup>
				<col width="9%">
				<col width="9%">
				<col width="9%">
				<col width="15%">
		    </colgroup>
		    <thead>
				<tr>
					<th style="text-align:left;">分类名称</th>
					<th>排序</th>
					<th>是否展示</th>
					<th>操作</th>
				</tr> 
		    </thead>

			<tbody class="newscategory_content"></tbody>

		</table>
		<!--<table id="newscategory_list" class="table table-striped table-bordered table-hover ">
			<thead>
			<tr>
				<th style="text-align:left;">分类名称</th>
				<th>排序</th>
				<th>父级分类</th>
				<th>是否展示</th>
				<th>操作</th>
			</tr>
			</thead>
			<tbody>
			</tbody>
		</table>-->


	</div>
	<div id="page"></div>
	<script type="text/javascript" src="__MANAGE__layui/layui.js"></script>
	<script type="text/javascript" src="__MANAGE__js/admin/newscategoryList.js"></script>
</body>
</html>